
* {
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}


body {
    padding-top: 150px;
    overflow-x: hidden;
}


.btn-gradient-green {
    background: linear-gradient(90deg, #97ff5a, #01d6a1);
    box-shadow: 0 5px 20px rgba(0, 255, 150, 0.3);
}


.text-highlight {
    color: #63e2b4;
    font-weight: 400;
}

/* grid do portfolio */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/* item do portfolio */
.portfolio-item {
    aspect-ratio: 1; 
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
